---
---

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kievit';

  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: black;
  cursor: none;
}

h1, h2 {
  font-family: 'MiloSlab';
  margin: 0;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-family: 'Kievit';
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
}

header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background: black;
  color: white;
}

#transition {
  height: 5px;
  background-color: #ed1c24;
  flex-shrink: 0;

  width: 0;
}

#transition.active {
  transition-property: width;
  transition-duration: {{ site.transition_duration }}s;
  transition-timing-function: linear;
}

article {
  flex: 1;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;

  transition: opacity {{ site.fade_transition_duration }}s;
  position: absolute;
}
